<div class="main-div" layout="row" layout-align="center center">
    <mat-card layout="row" layout-align="center center">
        <div class="centering" style="margin-bottom: 10px;">
            <mat-card-title class="card-container-right">Авторизация</mat-card-title>
        </div>
        <mat-card-content>
            <form class="form">
                <table class="full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="full-width" hideRequiredMarker>
                                <input matInput placeholder="Логин" name="username" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="full-width" hideRequiredMarker>
                                <input matInput placeholder="Пароль" type="password" name="password" required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card-content>
        <mat-card-actions class="centering" style="margin-top: -15px; margin-bottom: 2px;">
            <button mat-flat-button color="primary">Войти</button>
            <button mat-button color="primary" [routerLink]="['/register']">Создать аккаунт</button>
        </mat-card-actions>
    </mat-card>
</div>